header.header
  .container
    .row.align-items-center
      .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-3.inner-logo
        a(href='/')
          img(src='/client/images/logo.png' alt='Logo MixiShop')
      ul.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-3.inner-menu
        li
          a(href='/')
            | HOME
        li
          a(href='/products')
            | DANH M&#x1EE4;C S&#x1EA2;N PH&#x1EA8;M
        li
          a(href='/')
            | TH&Ocirc;NG B&Aacute;O
      ul.col-xl-3.col-lg-3.col-md-3.col-sm-3.col-3.inner-social
        li
          a(href='https://www.facebook.com/' target='_blank')
            i.fa-brands.fa-facebook
        li
          a(href='https://www.facebook.com/' target='_blank')
            i.fa-solid.fa-cart-shopping
        li
          a(href='#' target='_blank')
            i.fa-solid.fa-phone
