.header
    .inner-image
        a(href=`${prefixAdmin}/dashboard`)
            img(src='../admin/images/logo.png' alt='Logo MixiShop') 
    .inner-title
        a(href=`${prefixAdmin}/dashboard`) MIXISHOP ADMIN 